.main {
    min-height: calc(100vh - 4rem);
    width: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main img.logo {
    width: 20px;
}

.main .list-chat {
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 100%;
    height: calc(100vh - 12rem);
}

.main .chat {
    display: flex;
    padding: 0.5rem;
    width: 100%;
}

.main .chat.bot {}

.main .chat.user {
    flex-direction: row-reverse;
}

.main .chat.user .left {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.main .chat.user .text {
    background-color: #f4f4f4;
    padding: 12px 20px;
    border-radius: 12px;
}

.main .chat.user .left>h6 {
    text-align: end;
}

.main .chat .left {
    padding: 0 1rem;
    max-width: calc(100vh - 10rem);
}