.chat-footer .component {
    padding: 2px 8px;
    display: flex;
    align-items: center;
    border-radius: 0.5 rem;
    width: 100%;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #000;
}

.chat-footer .component>textarea {
    margin: 4px 0;
    padding: 1rem;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    overflow-wrap: break-word;
    height: 58px;
}

.chat-footer button.send>img {
    width: 35px;
}

.chat-footer>input,
button.send {
    background: transparent;
    border: none;
}